.popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
  transition: visibility 0.2s, opacity 0.2s linear;
}