.button-like {
  width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../images/heart-button.svg);
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.button-like:hover {
  opacity: 0.5;
}