.button-submit {
  border: 0;
  width: 100%;
  min-height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  background-color: black;
  color: rgba(255, 255, 255, 1);
  font-family: inherit;
  margin-top: 48px;
  transition: 0.2s;
}

.button-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .button-submit {
    font-size: 14px;
    line-height: 27px;
    min-height: 46px;
    margin-top: 44px;
  }
}